
        #results-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1000px;
            margin: 0 auto;
        }

        .user {
            width: 300px;
            margin-bottom: 20px;
            background-color: #eee;
            padding: 10px;
        }

        .spinner {
            border: 20px solid gray;
            border-left-color:blue;
            
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 4s linear infinite;
            margin: 0 auto;
        }

        .move-spinner{
            margin: -250px auto;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

       
